*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build
app/release
apk_history/
*.apk
*.aab
*.keystore
*.jks
!gradle/wrapper/gradle-wrapper.jar
